.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  background-color: black;
}

img{
  height: 15vw;
  width: 100vw;
}

.title{
  color: white;
  font-size: 2rem ;
  font-style: italic;
  padding: 0 0 1rem 0;
}







.location{
  /* border: solid 1px red; */
  color: white;
  background-color: black;
  width: 100%;
}

.locationName{
  /* border: 1px solid green; */
  padding: 0.1rem 0 0 0;
  text-align: center;
}

.data{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data p{
  margin: 0.5rem 2rem 1rem 2rem;
}







.cardsContainer{
  /* border: solid black 1px; */
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.residentCard{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(83, 83, 83);
}

.residentphoto{
  width: 100%;
  height: 100%;
}

.infoResident{
  padding: 0 1rem 0 1rem;
}

.infoResident h3{
  text-align: center;
} 







.residentsList{
  /* border: solid green 2px; */
  width: 50%;
}







.searchBox{
  /* border: solid 1px red; */
  display: flex;
  width: 100vw;
  justify-content: center;
}

.searchBox input{
  width: 50%;
  height: 2.5rem;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
  border: 0;
  background-color: rgb(65, 65, 65);
  color: white;
}

.searchBox button{
  width: 7%;
  color: white;
  font-size: medium;
  background-color: black;
  border: 1px solid white;
}